<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="calsi-content">
      <input class="screen" type="text" placeholder="00">
      <div>
        <button class="container">AC</button>
        <button class="container">DEL</button>
        <button class="container">%</button>
        <button class="container">/</button>  
      </div>
      <div>
        <button class="button-container">7</button>
        <button class="button-container">8</button>
        <button class="button-container">9</button>
        <button class="container">*</button>
      </div>
      <div>
        <button class="button-container">4</button>
        <button class="button-container">5</button>
        <button class="button-container">6</button>
        <button class="container">-</button>
      </div>
      <div>
        <button class="button-container">1</button>
        <button class="button-container">2</button>
        <button class="button-container">3</button>
        <button class="container">+</button>
      </div>
      <div>
        <button class="button-container">00</button>
        <button class="button-container">0</button>
        <button class="button-container">.</button>
        <button class="equal">=</button>
      </div>
    </div>

    <script src="calsi.js"></script>
</body>
</html>